
@media (max-width: 700px) {
.container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "nav nav nav "
  "header header header "
  ". . . "
  "workOne workOne workOne "
  " workTwo workTwo workTwo "
  " workThree workThree workThree  "
  " workFour workFour workFour "
  
  "footer footer footer "
}

.container.CS{
    grid-row-gap: 88px;
  
    grid-template-areas: 
    ' nav nav nav '
    ' header header header '
    /* '. . .' */
    'heroImage heroImage . '
 '.  . . ';
    
 }
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    width: 100%;
    max-width: 1360px;
    position: relative;
    grid-column-gap: 24px;
    grid-row-gap: 164px;
    grid-template-areas: 
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    ". . . . . .  . header header header header header"
    ". . . . . . . . . . . ."
    ". .  workOne workOne workOne workOne workOne  . . . .  . "
    ".  . . . .  . workTwo workTwo workTwo workTwo workTwo     . "
    ".  workThree workThree workThree workThree workThree  . . . . .   . "
    ".  . . . . workFour workFour workFour workFour workFour    . . "
    
    "footer footer footer footer footer footer footer footer footer footer footer footer"
    ;
  }
  .container.CS{
  grid-template-areas: 
  'nav nav nav nav nav nav nav nav nav nav nav nav'
  '  . . . . . . . header header header header header'
  '. heroImage heroImage . . . . . . . . .'
  '.  . intro intro intro intro intro intro . . . . '
  '. cslist  cslist cslist cslist cslist cslist  pab pab  pab pab  .'
  '.  . CStwo CStwo CStwo CStwo CStwo CStwo    . . . . '
  '.  . CSthree CSthree CSthree CSthree CSthree CSthree    . . . . '
  '.  .CSfour CSfour CSfour CSfour CSfour CSfour     . . . . '
  '.  feedback feedback feedback feedback  action action action action . . .' 
  '.  feedback2 feedback2 feedback2 feedback2   action2 action2 action2 action2 . . .'
  '.  . CSfive CSfive CSfive CSfive CSfive CSfive    . . . . '
  '.  . CSsix CSsix CSsix CSsix CSsix CSsix    . . . . '
  '.  . CSseven CSseven CSseven CSseven CSseven CSseven    . . . . '
  }