@media (max-width: 700px) {


    body{
        padding:12px;
    }


.work{
    max-width: 96vw;
    margin-left: 0px;
    margin-right: -60px;
    transition: all .32s ease-in-out;
    cursor: pointer;
}
.workImageContainer{
    width: auto;
}
.workbg:before{
    right:0px;
    top:-48px
}
.workIMG.two, .workIMG.three{
    max-width: 95%;
    top: -12px;
}

img.heroImg {
    /* top:64px; */
    max-width: 100vw;
    height: auto;
    left: -12px;
    position: relative;
}
header.header.cs{
    /* top: -88px; */
    position: relative;
}
.subtitle.CS.AB{
    bottom:-17px;
}

  



  /* typography */
  h1{
      line-height:120% ;
  }

}