@media (max-width: 700px) {


    body{
        padding:12px;
        width: 100vw;
       
    }

nav{
    left:initial;
 
}
.dog:after{
    top: 24px;
    right: -124px

}

.container.landing{
    max-width: calc(100vw - 24px);
    width: 100%;
    grid-column-gap: 12px;
    grid-row-gap: 88px;

}
.work{
    max-width: calc(100vw - 24px);
    margin-left: 0px;
    margin-right: -60px;
    transition: all .32s ease-in-out;
    cursor: pointer;
    width: 100%;

}
.workImageContainer{
    width: auto;
    max-width: calc(100vw - 24px);
    align-content: center;
    justify-content: center;
}
.workbg:before{
    right:0px;
    top:-48px
}
.workbg{
    max-width: calc(100vw - 48px);
    width: 100%;
    height: 208px ;
    
}

.workIMG{
    align-self: center;
    justify-self: center;
}

.workIMG.one{
    left: -6px;
  max-width: 90vw;
bottom: initial;
   
}

.workIMG.two {
    max-width: 90vw;
    top: -12px;
    left: -6px;
}
.workIMG.three{
    right: 48px;
    max-height: 150%;
    top:-64px;
}
.workIMG.four{
    right: initial;
    left: 32px;
    bottom: -4px
}

article.container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "nav nav nav "
  "header header header "
  ". . . "
  "workOne workOne workOne "
  " workTwo workTwo workTwo "
  " workThree workThree workThree  "
  " workFour workFour workFour "
  
  "footer footer footer ";
}

article.container.CS{
    grid-row-gap: 88px;
  
    grid-template-areas: 
    ' nav nav nav '
    ' header header header '
    /* '. . .' */
    'heroImage heroImage . '
 '.  . . ';
    
 }




img.heroImg {
    /* top:64px; */
    max-width: 100vw;
    height: auto;
    left: -12px;
    position: relative;
}
header.header.cs{
    /* top: -88px; */
    position: relative;
}
.subtitle.CS.AB{
    bottom:-17px;
}

  



  /* typography */
  h1{
      line-height:120% ;
  }

}




@media (min-width: 1700px) {

    :root {
        --font-default: 19px;
        --font-s: 13px;
        --font-l: 28px;
        --font-xl: 60px;
        --font-line-height: 30px;
      }

    article.container{
        max-width: calc(100vw - 20%);
        grid-row-gap: 264px;

    }
    .workIMG.one, .workIMG.four{
        max-height:200%;
        bottom: -24px;
    }
    .workIMG.two, .workIMG.three{
        max-height: 240%;
    }
    .workIMG.two{
        right:48px;
    }
    .workIMG.three{
        left:48px;
    }
}