/* Color */
root{
    --blk85:rgba(0, 0, 0, 0.85);
}
/* typography */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
h3{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: var(--blk85);
}
h3.h3.white{
color: white;
}
/* responsive + grid */

/* spacing */

/* divs */

/* body */
*{
    background-repeat: no-repeat;
}
body{
    background: linear-gradient(107.56deg, #F4F1E9 0%, #AFD19F 100%);
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
}
.bodyContainer{
    position: relative;
    z-index: 1;
}


/* images */

.backgroundImageContainer.homepage{
    background-image: url("../imgs/svgGradient1.svg");    
    position: fixed;
    top:0px;
    left:5%;
     z-index: -1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    max-height: 100vh;
    background-size: 100%;
}


/* homepage specific */
.listContainer.homepage{

}
.nav.homepage{

}